In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
with open('full_input_original_human_labels.json', 'r') as file:
    human_dict = json.load(file)
    
with open('full_input_original_model_labels.json', 'r') as file:
    model_dict = json.load(file)
    
spot_keys = list(human_dict[list(human_dict.keys())[0]].keys())

In [3]:
totals = {}
errors = {}
false_positives = {}
false_negatives = {}
for spot_key in spot_keys:
    totals[spot_key] = 0
    errors[spot_key] = 0
    false_positives[spot_key] = 0
    false_negatives[spot_key] = 0

for key in human_dict.keys():
    for spot_key in spot_keys:
        if(human_dict[key][spot_key]):
            totals[spot_key] = totals[spot_key] + 1
        if(human_dict[key][spot_key] != model_dict[key][spot_key]):
            errors[spot_key] = errors[spot_key] + 1
            if(human_dict[key][spot_key]):
                false_positives[spot_key] = false_positives[spot_key] + 1
            else:
                false_negatives[spot_key] = false_negatives[spot_key] + 1

In [4]:
# Create a structured numpy array
dtype = [('Times Occupied', int), ('Errors', int), ('False Positives', int), ('False Negatives', int)]
values = [(totals[key], errors[key], false_positives[key], false_negatives[key]) for key in totals.keys()]
structured_np = np.array(values, dtype=dtype)

structured_np

array([( 98, 26,  5, 21), (119, 22,  0, 22), (113,  4,  2,  2),
       ( 72,  4,  3,  1), ( 92, 19,  0, 19), (188, 33,  0, 33),
       (150,  4,  0,  4), (205, 76,  0, 76), (169, 52, 17, 35)],
      dtype=[('Times Occupied', '<i8'), ('Errors', '<i8'), ('False Positives', '<i8'), ('False Negatives', '<i8')])

In [5]:
df = pd.DataFrame(structured_np)

In [6]:
# Calculate True Negatives
df["True Negatives"] = 381 - df["False Negatives"]

# Calculate Accuracy
df["Accuracy"] = (df["Times Occupied"] + df["True Negatives"]) / (df["Times Occupied"] + df["True Negatives"] + df["False Positives"] + df["False Negatives"])

# Calculate Precision
df["Precision"] = df["Times Occupied"] / (df["Times Occupied"] + df["False Positives"])

# Calculate Recall
df["Recall"] = df["Times Occupied"] / (df["Times Occupied"] + df["False Negatives"])

# Calculate F1 Score
df["F1 Score"] = 2 * (df["Precision"] * df["Recall"]) / (df["Precision"] + df["Recall"])

df

,Times Occupied,Errors,False Positives,False Negatives,True Negatives,Accuracy,Precision,Recall,f1_score
0,98,26,5,21,360,0.946281,0.951456,0.823529,0.882883
1,119,22,0,22,359,0.956000,1.000000,0.843972,0.915385
2,113,4,2,2,379,0.991935,0.982609,0.982609,0.982609
3,72,4,3,1,380,0.991228,0.960000,0.986301,0.972973
4,92,19,0,19,362,0.959831,1.000000,0.828829,0.906404
5,188,33,0,33,348,0.942004,1.000000,0.850679,0.919315
6,150,4,0,4,377,0.992467,1.000000,0.974026,0.986842
7,205,76,0,76,305,0.870307,1.000000,0.729537,0.843621
8,169,52,17,35,346,0.908289,0.908602,0.828431,0.866667

In [7]:
df.index = ['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6']
df = df.round(2)

In [8]:
df

,Times Occupied,Errors,False Positives,False Negatives,True Negatives,Accuracy,Precision,Recall,f1_score
A1,98,26,5,21,360,0.95,0.95,0.82,0.88
A2,119,22,0,22,359,0.96,1.00,0.84,0.92
A3,113,4,2,2,379,0.99,0.98,0.98,0.98
B1,72,4,3,1,380,0.99,0.96,0.99,0.97
B2,92,19,0,19,362,0.96,1.00,0.83,0.91
B3,188,33,0,33,348,0.94,1.00,0.85,0.92
B4,150,4,0,4,377,0.99,1.00,0.97,0.99
B5,205,76,0,76,305,0.87,1.00,0.73,0.84
B6,169,52,17,35,346,0.91,0.91,0.83,0.87